.slide {
    min-width: 100%;
    color: black;
}

.slide1 {
    background-image: url('../assets/images/index-section2.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    color: white;
}

.slide2 {
    background-image: url('../assets/images/index-section2.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    color: white;
}

.slide3 {
    background-image: url('../assets/images/index-section2.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    color: white;
}

.slide4 {
    background-image: url('../assets/images/index-section2.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    color: white;
}

.environment-image-title {
    padding-top: 14rem;
}

.environment-border-color {
    margin-top: 5rem;
    margin-top: 1rem;
    width: 100%;
    height: 2px;
    background: #333;
    border-bottom: 1px solid transparent;
    background-image: linear-gradient(to right, white 50%, gray 50%);

}

.container-enviroment {
    color: #00427A;
}

.environment-bt-view-more {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
}

.environment-slider {
    display: flex;
    /* Alinha os botões horizontalmente */
    justify-content: center;
    /* Centraliza os botões */
    align-items: center;
    /* Alinha verticalmente */
    gap: 10px;
    /* Espaçamento entre os botões */
}

.environment-btn-slide {
    width: 40px;
    background-color: #00427A;
    border: none;
    height: 5px;
    cursor: pointer;
    transition: border-color 0.3s, transform 0.3s;
}

.environment-btn-slide:hover {
    border-color: lightgray;
    transform: scale(1.2);
}

.environment-btn-slide:active {
    transform: scale(1);
}

.enviroment-slide-buttons {
    margin-top: -50px;
    justify-content: center;
    display: flex;
    gap: 10px;
    padding-bottom: 1rem;
}

.enviroment-secound-section-header {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.enviroment-secound-section-body {
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: #00427A;
}

.enviroment-secound-section-body-title {
    font-weight: bold;
    color: #F58220;
    text-align: center;
}

.enviroment-secound-section-body-description {
    font-weight: bold;
    font-size: 1.5rem;
}

@media (min-width: 1024px) {

    
    .right-and-left {
        padding-top: 4rem;
        max-width: 70%;
        
    }
    
    .right-and-left-secound {
        display: flex;
        justify-content: flex-end;
        margin-top: 4rem;
    }
    
    .right-and-left-secound-content {
        max-width: 70%;
    }
}

.right-and-left-first-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.right-and-left-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.right-and-left-desc {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


@media (max-width: 1024px) {
    .environment-image-title {
        width: 100%;
    }

    .container-enviroment {
        width: 100%;
    }

    .environment-image-title {
        padding-top: 4rem;
    }

    .right-and-left {
        max-width: 100% m !important;
    
    }
    
    .right-and-left-secound-content {
        max-width: 100% m !important;
    }
    .enviroment-secound-section-body {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
}


}






@media (max-width: 768px) {
    .environment-image-title {
        width: 100%;
    }

    .container-enviroment {
        width: 100%;
    }

    .container-enviroment {
        padding: 0;
    }

    .environment-image-title {
        padding-top: 4rem;
    }

    .container-enviroment {
        padding: 0;
        margin-left: 0rem;
        margin-right: 0rem;
        padding: 1rem;
    }


    .right-and-left {
        max-width: 100% m !important;
    
    }
    
    .right-and-left-secound-content {
        max-width: 100% m !important;
    }

    .enviroment-secound-section-body {
    padding-top: 4rem;
    flex-direction: column;
    align-items: center;

        gap: 50px;
    
}

}